html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: #222;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
	background-repeat: repeat;

	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
}

.share {
	position: absolute;
	bottom: 20px;
	left: 24px;
	margin: 0;
	z-index: 1;
	font-size: 0.9em;
}

.credit {
	position: absolute;
	bottom: 24px;
	right: 24px;
	margin: 0;
	z-index: 1;
	font-size: 0.9em;
}

.credit a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.layer {
	text-align: center;
	text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.1 );
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

.layer h2 {
	position: relative;
	top: 30%;
	margin: 0;
	font-size: 6.25em;
}

.layer p {
	position: relative;
	top: 30%;
	margin: 0;
}

.layer.one {
	// background: #dc6c5f;
	background-image: url("../img/background.jpg");
}

	.layer.one img.img-me {
		margin-top: 80px;
		border-radius: 8px;
		border: 4px solid #fff;
		height: 100px;
		width: 100px;
		transition: .5s filter;
		filter: sepia() saturate(3) hue-rotate(310deg);
	}

	.layer.one img.img-me:hover, img:focus {
		filter: none;
	}

	.layer.one h2 {
		top: auto;
		margin-top: 50px;
		margin: 0;
		font-size: 6.25em;
	}

	.layer.one .bold {
		font-weight: bold;
	}

	.layer.one .green {
		color: #19cf86;
	}

	.layer.one .blue {
		color: #4a90e2;
	}

	.layer.one .red {
		color: #e81c4f;
	}

	.layer.one .yellow {
		color: #f4900c;
	}

	.layer.one .desc {
		margin: 0;
		margin-top: 25;
		font-size: 2.25em;
	}

.layer.two {
	// background: #95dc84;
	background-image: url("../img/background2.jpg");
}

	.layer.two h2 {
		top: 50px;
		margin: 0;
		font-size: 5.25em;
	}

	.layer.two .memo {
		position: absolute;
  		bottom: 10px;
  		left: 10px;
  		font-size: 12px;
	}

	.layer.two .memo > a {
		color: #fff;
	}

	.layer.two .heart-red {
		border-bottom: 4px dashed #e81c4f;
	}

	.layer.two .card-wrapper {
		position: relative;
		width: 75%;
		text-align: center;
		margin: 80px auto;
		padding: 15px;
		border: 2px solid #fff;
		border-radius: 10px;
		background-color: rgba(255,255,255,0.26);
	}

		.layer.two .card-wrapper .card-item {
			position: initial;
			display: inline-block;
			margin: 10px;
			width: 100px;
			padding: 20px 5px;
			border-radius: 5px;
			border: 2px solid #fff;
			cursor: alias;
			top: 25%;
  			font-size: 2.25em;
		}
			
		.layer.two .card-wrapper .card-item.blue {
			background: rgba(74, 144, 226, 0.6);
		}

		.layer.two .card-wrapper .card-item.blue:hover {
			background: rgba(74, 144, 226, 0.9);
		}

		.layer.two .card-wrapper .card-item.green {
			background: rgba(25,207,134,0.6);
		}

		.layer.two .card-wrapper .card-item.green:hover {
			background: rgba(25,207,134,0.9);
		}

		.layer.two .card-wrapper .card-item.red {
			background: rgba(232,28,79,0.6);
		}

		.layer.two .card-wrapper .card-item.red:hover {
			background: rgba(232,28,79,0.9);
		}

		.layer.two .card-wrapper .card-item.yellow {
			background: rgba(244,144,12,0.6);
		}

		.layer.two .card-wrapper .card-item.yellow:hover {
			background: rgba(244,144,12,0.9);
		}

		.layer.two .card-wrapper .card-item .card-desc {
			position: absolute;
			display: none;
  			height: 40px;
  			width: 100%;
  			border: 2px dashed white;
  			border-radius: 8px;
  			top: 200px;
  			left: 0px;
 	 		padding: 30px 0px;
  			font-size: 0.8em;
		}

		.layer.two .card-wrapper .card-item.red .card-desc.red {
			background-color: rgba(223,40,88,0.66);	
		}

		.layer.two .card-wrapper .card-item .card-desc.green {
			background-color: rgba(45,208,142,0.66);
		}

		.layer.two .card-wrapper .card-item .card-desc.blue {
			background-color: rgba(88,151,224,0.66);	
		}

		.layer.two .card-wrapper .card-item .card-desc.yellow {
			background-color: rgba(243,152,33,0.66);
		}

		.layer.two .card-wrapper .card-item.red:hover .card-desc.red {
			display: inline-block;
		}

		.layer.two .card-wrapper .card-item.green:hover .card-desc.green {
			display: inline-block;
		}

		.layer.two .card-wrapper .card-item.blue:hover .card-desc.blue {
			display: inline-block;
		}

		.layer.two .card-wrapper .card-item.yellow:hover .card-desc.yellow {
			display: inline-block;
		}

.layer.three {
	// background: #64b9d2;
	background-image: url("../img/background3.jpg");
}

	.layer.three .img-code {
		margin-top: 120px;
	  	border-radius: 8px;
	  	border: 4px solid #fff;
	  	height: 35%;
	}

	.layer.three .talk-cheap {
		position: initial;
		top: auto;
  		margin-top: 100px;
  		margin-left: auto;
  		margin-right: auto;
  		display: block;
  		width: 600px;
  		width: px;
  		height: 49px;
  		padding: 120px 30px;
  		border-radius: 10px;
  		border: 4px solid #fff;
  		cursor: none;
  		font-size: 2.35em;
  		background-color: rgba(74,144,226,0.4);
	}

	.layer.three .talk-cheap .red-underline {
		border-bottom: 3px dashed #fff;
	}

	.layer.three .show-words {
		top: auto;
	  	margin-top: 35px;
	  	font-size: 1.36em;
	}

	.layer.three .blue {
		color: #f4900c;
	}

	.layer.three .blue-circle {
		border: 1.5px dashed #f4900c;
  		border-radius: 8px;
  		padding: 2px;
  		color: #f4900c;
	}

	.layer.three .red {
		color: #e81c4f;
	}

	.layer.three .red-circle {
		border: 1.5px dashed #e81c4f;
  		border-radius: 8px;
  		padding: 2px;
  		color: #e81c4f;
	}

	.layer.three .border-circle {
		border-bottom: 2px dashed #fff;
	}

.bullets {
	position: absolute;
	width: 100%;
	bottom: 20px;
	padding: 0;
	margin: 0;
	text-align: center;
}

	.bullets li {
		display: inline-block;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		margin: 0 3px;

		background: rgba( 255, 255, 255, 0.5 );
		box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 );
		cursor: pointer;

		-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
	}

		.bullets li:hover {
			background: rgba( 255, 255, 255, 0.8 );
		}

		.bullets li.active {
			cursor: default;
			background-image: url(../img/icon.jpg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			filter: saturate(2);
		}

@media screen and (max-width: 400px) {
	body {
		font-size: 12px;
	}

	.layer h2 {
		font-size: 5em;
	}

	.bullets li {
		margin: 0 6px;
	}

	.credit {
		bottom: initial;
		top: 10px;
		right: 10px;
	}

	.share,
	.github-ribbon {
		display: none;
	}
}
