html {
  	min-width: 1040px;
  	margin: 0;
}

body {
  	font: 16px/1.5em "Helvetica Neue", Helvetica, sans-serif;
  	margin: 1em 0 4em 0;
}

.apps {
	text-align: center;
}

.apps a {
	color: #fff;
	text-decoration: none;
}

.apps .apps-header h1 {
	color: #555;
  	font-size: 64px;
  	font-weight: 200;
  	letter-spacing: -2px;
  	white-space: nowrap;
  	margin-top: 40px;
  	margin-left: 50px;
}

.apps .apps-examples {
	background: rgba(221,221,221,0.5);
  	height: 460px;
  	margin-bottom: 2em;
  	overflow: hidden;
  	padding: 0;
  	position: relative;
  	border-top: solid 1px #fff;
  	border-bottom: solid 1px #fff;
}

	.apps .apps-examples:before {
	  	bottom: -16px;
	  	box-shadow: 0px -8px 16px rgba(0,0,0,.3);
	}

	.apps .apps-examples:after {
	  	top: -16px;
	  	box-shadow: 0px 8px 16px rgba(0,0,0,.3);
	}

	.apps .apps-examples:after, .apps .apps-examples:before {
	  	content: "";
	  	display: block;
	  	width: 100%;
	  	position: absolute;
	  	background: white;
	  	height: 16px;
	  	z-index: 2;
	}

	.apps .apps-examples .apps-examples-deep {
		-webkit-transform-style: preserve-3d;
	    -moz-transform-style: preserve-3d;
	    transform-style: preserve-3d;
	    -webkit-backface-visibility: hidden;
	    -moz-backface-visibility: hidden;
	    backface-visibility: hidden;
	}

	.apps .apps-examples .canvas-show {
		display: block;
		margin: -120px auto;
	}

	.apps .apps-examples .abs {
		/* position: absolute; */
		display: inline-block;
		margin: 35px;
    	font-size: 40px;
  		color: #fff;
		text-shadow: 0 1px hsl(0,0%,85%),
		             0 2px hsl(0,0%,80%),
		             0 3px hsl(0,0%,75%),
		             0 4px hsl(0,0%,70%),
		             0 5px hsl(0,0%,65%),
		             0 5px 10px black;
	}

	.apps .apps-examples .abs > a {
		border: 2px solid;
  		border-radius: 10px;
  		padding: 5px;
  		background-color: rgba(255,255,255,0.8);
	}

	.apps .apps-examples .abs.qq > a {
		color: rgba(232, 28, 79, 0.7);
	}

	.apps .apps-examples .abs.qq > a:hover {
		color: #e81c4f;
	}

	.apps .apps-examples .abs.tp > a {
		color: #19cf86;
	}


	.apps .apps-examples .abs.tp > a:hover {
		color: #19cf86;
	}

	.apps .apps-examples .abs.tp > a {
		color: rgba(25,207,134,0.7);
	}

	.apps .apps-examples .abs.topo > a {
		color: #4a90e2;
	}
